body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #75a478;
    color: #fff;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}

.stores-section,
.about-us-section {
    text-align: center;
    padding: 2em 0;
}

/* Estilos actualizados para las tiendas */
.stores-section {
    display: flex;
    justify-content: space-around; /* Distribuye el espacio entre las tiendas */
}

.store {
    flex: 10 10 10%; /* Ajusta el ancho de cada tienda según tus preferencias */
    margin: 0 1em;
    text-align: center;
}

.store img {
    max-width: 100%; /* Hace que la imagen tenga un ancho máximo del 100% del contenedor */
    height: auto;
}

.carousel-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 30%; /* 100% * número de slides */
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    color: #75a478;
    margin-bottom: 1em;
}

.stores-section,
.about-us-section {
    text-align: center;
    padding: 2em 0;
}

footer {
    background-color: #75a478;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

