*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #75a478;
  color: #fff;
  text-align: center;
  padding: 1em;
}

h1{
  margin: 0;
}

.esquema {
  text-align: center;
  padding: 2em 0;
}

.esquema img {
  max-width: 70%; 
  height: auto;
  display: block;
  margin: 0 auto; 
}

.relleno {
  max-width: 800px;
  margin: 0 auto 2em;
}

.relleno-images {
  display: flex;
  justify-content: space-around;
  text-align: center;
}


.relleno-item {
  text-align: center;
}

.relleno-images img {
  width: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 0em;
}

.relleno-images img:hover {
  transform: scale(1.1);
}

.relleno-images p {
  margin: 0;
}

/*Laura*/

.window {
  width: 390px;
  height: 500px;
  border: 1px solid black;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

  .container {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
  }

  .section {
    text-align: center;
  }

  .section img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .section img:hover {
    transform: scale(1.1);
  }

.objetos{
  text-align: center;
  color: #0a6d39;
}

.objetos-page .carousel-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.objetos-page .slide {
  flex: 0 0 100%;
  display: none;
  text-align: center;
}
.objetos-page .slide img {
  max-width: 25%;
  height: auto;
}
.objetos-page .active {
  display: block;
}

/*Alba*/

.tiendas-section {
  display: flex;
  justify-content: space-around; /* Distribuye el espacio entre las tiendas */
}

.tiendas {
  flex: 10 10 10%; /* Ajusta el ancho de cada tienda según tus preferencias */
  margin: 0 1em;
  text-align: center;
}

.tiendas iframe {
  max-width: 100%; /* Hace que la imagen tenga un ancho máximo del 100% del contenedor */
  height: auto;
}

.inicio-carrusel {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.fotitos {
  display: flex;
  width: 30%; /* 100% * número de slides */
  transition: transform 0.5s ease-in-out;
}

.lodedentro {
  flex: 0 0 100%;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  color: #75a478;
  margin-bottom: 1em;
}

/*Nico*/

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #466248;
  transition: 0.5s;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

.carrito{
  filter: invert(100%);
  width: 75px;
  height: 75px;
  cursor: pointer;
}

/*Plantas*/

.contenedorF {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
}

.contenedorF h2 {
  color: #FFFFFF;
  text-align: center;
}

.contenedorF img {
  width: 320px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.contenedorF>div {
  box-shadow: 0px 0px 5px 0px #000000;
  background-color: #75a478;
  border-radius: 20px;
}

.contenedorF>div:hover {
  background-color: #466248;
}
  
.informacion {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15;
}

.informacion .precio {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.informacion button {
  background-color: #75a478;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  color: #FFFFFF;
  cursor: pointer;
}

/*Hugo*/
footer {
  background-color: #75a478;
  color: #fff;
  text-align: center;
  padding: 1em;
  bottom: 0;
  width: 100%;
}

/* tamaño imagenes*/
.footer img {
      width: 50px;
      height: 50px;
      margin-right: 20px;
}
  /* color de las letras */
.footer a {
      color: #ffffff;
      text-decoration: none;
}
  /* cuando vas a seleccionar el link cambia de color*/
.footer a:hover {
      color: #a87c7c;
}

/*Registro*/

.error {
  color: red;
}

/*Login*/

.conta button {
  background-color: #466248;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.conta button:hover {
  opacity: 0.8;
}

.conta {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  width: 100%;
  max-width: 450px;
  background-color: #75a478;
  padding: 80px 60px 70px;
  text-align: center;
  border-radius: 25px;
}

.form-content h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: #FFFFFF;
  position: relative;
}

.form-content h1::after {
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #466248;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-field {
  background-color: #4d574e;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: none;
  padding: 18px 15px;
  color: #FFFFFF;
}

input::placeholder {
  color: #FFFFFF;
}

.input-field i {
  margin-left: 15px;
  color: #75a478;
}

form p {
  color: #FFFFFF;
  text-align: left;
  font-size: 13px;
}

form p a {
  color: #354736;
  margin-left: 5px;
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-field button {
  flex-basis: 48%;
  font-size: 16px;
  background-color: #466248;
  color: #FFFFFF;
  height: 40px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}

.input-group {
  height:250px
}

.btn-field button.disable {
  background-color: #FFFFFF;
  color: #2C2F35;
}