    /* footer */
    /* color de la parte de atras*/
    .footer {
        background-color: #1f7bd7;
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }
    /* tamaño imagenes*/
    .footer img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    /* color de las letras */
    .footer a {
        color: #8ada39;
        text-decoration: none;
    }
    /* cuando vas a seleccionar el link cambia de color*/
    .footer a:hover {
        color: #a87c7c;
    }


/* pagina de registro */
h2 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
  }

  #background {
    background-color: aquamarine;
    background-size: 70% auto; 
    color: rgb(0, 0, 0);
    
  }

/* FORMULARIO 1*/
#background {
  background-color: #343c69;
  color: #ccc;

}
.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container input[type="submit"] {
  background-color: #303030;
  color: white;
  cursor: pointer;
}

#tabla {
  color: aliceblue;
}

.form-container input[type="submit"]:hover {
  background-color: #19a928;
}